{% extends 'layout2.html' %}
{% block content %}
{%from "_macros.html" import input_forms%}
    <div class="container">
        <div class="row">
            <form name="modificar" action="/modificar" id="modificar" method="POST" novalidate>
                <div class="row control-group">
                    <div class="form-group col-xs-12 float-label-form-group controls">
                        {{input_forms(form.id, class="form-control")}}
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 float-label-form-group controls">
                        {{input_forms(form.apaterno, class="form-control")}}
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 float-label-form-group controls">
                        {{input_forms(form.email, class="form-control")}}
                    </div>
                </div>
                <input type="hidden"  name="csrf_token" value="{{csrf_token()}}"/>
                <input type="submit" id="modificar" name="modificar" value="Modificar"
                class="btn btn-danger"/>
                <a href="ABC_alumnos" class="btn btn-success">Cancelar2</a>
            </form>
        </div>
    </div>
    {% endblock %}
   
